<ion-header class="px-10">
  <ion-toolbar>
    <ion-img
      src="assets/icon/accenture.png"
      alt="Accenture"
      class="w-8"
    ></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex flex-col gap-6 p-4">
    <section class="flex flex-col gap-2">
      <h2 class="text-xl font-bold">Categorias</h2>

      <app-form-edit-save-categories
        [categoryToEdit]="categoryToEdit()"
        (categorySaved)="onCategorySaved()"
      ></app-form-edit-save-categories>

      <app-list-categories-on-cards
        (editCategory)="onEditCategory($event)"
      ></app-list-categories-on-cards>
    </section>

    <section class="flex flex-col gap-2">
      <h2 class="text-xl font-bold">Tareas</h2>

      @if (hasTasks()) {
        <app-tasks-search
          (categoriesIdsFilterChange)="onCategoriesIdsFilterChange($event)"
        ></app-tasks-search>

        <!-- aqui se pueden agregar mas componentes con filtros de busqueda -->
      }

      <app-form-edit-save-tasks
        [taskToEdit]="taskToEdit()"
        (taskSaved)="onTaskSaved()"
      ></app-form-edit-save-tasks>

      <app-list-tasks-on-cards
        [filteredTasks]="filteredTasks()"
        [selectedCategoriesIds]="selectedCategoriesIds()"
        (editTask)="onEditTask($event)"
      ></app-list-tasks-on-cards>
    </section>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <h1 class="text-center text-xs">
      © 2026 Accenture todos los derechos reservados
    </h1>
  </ion-toolbar>
</ion-footer>
